/* MAIN */
/* RESET */
h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

/* MIXINS */
/* GRID */
.wrapper {
  width: 100%;
  margin: 0 auto; }

.grid {
  display: flex;
  width: 100%;
  margin: 0 auto; }

.grid__item {
  padding: 10px;
  box-sizing: border-box; }

.grid__item--one {
  width: 100%; }

.grid__item--one-half {
  width: 50%; }

.grid__item--two-halves {
  width: 100%; }

.grid__item--one-third {
  width: 33.33333%; }

.grid__item--two-thirds {
  width: 66.66667%; }

.grid__item--three-thirds {
  width: 100%; }

.grid__item--one-fourth {
  width: 25%; }

.grid__item--two-fourths {
  width: 50%; }

.grid__item--three-fourths {
  width: 75%; }

.grid__item--four-fourths {
  width: 100%; }

.grid__item--one-fifth {
  width: 20%; }

.grid__item--two-fifths {
  width: 40%; }

.grid__item--three-fifths {
  width: 60%; }

.grid__item--four-fifths {
  width: 80%; }

.grid__item--five-fifths {
  width: 100%; }

.grid__item--one-sixth {
  width: 16.66667%; }

.grid__item--two-sixths {
  width: 33.33333%; }

.grid__item--three-sixths {
  width: 50%; }

.grid__item--four-sixths {
  width: 66.66667%; }

.grid__item--five-sixths {
  width: 83.33333%; }

.grid__item--six-sixths {
  width: 100%; }

.grid__item--one-seventh {
  width: 14.28571%; }

.grid__item--two-sevenths {
  width: 28.57143%; }

.grid__item--three-sevenths {
  width: 42.85714%; }

.grid__item--four-sevenths {
  width: 57.14286%; }

.grid__item--five-sevenths {
  width: 71.42857%; }

.grid__item--six-sevenths {
  width: 85.71429%; }

.grid__item--seven-sevenths {
  width: 100%; }

/* FORMS */
/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6, p, ul, li, span {
  color: #202021; }

h1, h2, h3, h4, h5 {
  font-family: "Merriweather", serif;
  font-weight: 400; }

p, ul, li, span {
  font-family: "Open Sans", sans-serif; }

h1 {
  font-size: 2.5em;
  padding: 10px 20px; }

sup {
  font-size: .7em; }

h1, h3 {
  color: #910202; }

h2 {
  color: #777777;
  font-size: 2.3em;
  text-align: center;
  padding: 20px; }

h3 {
  font-size: 1.75em;
  padding: 20px 0 10px 0; }

h4 {
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px 0;
  color: #777777; }

ul {
  list-style-type: none; }

li {
  padding: 10px 0;
  transition: color .5s;
  line-height: 1.5; }

p {
  line-height: 1.5;
  transition: color .5s; }

.centered {
  text-align: center; }

.light-text {
  color: #f9f9f9; }

.medium-text {
  color: #777777; }

/* BUTTONS */
.button {
  width: 100%;
  background-color: #910202;
  color: #f9f9f9;
  margin: 0 auto;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  box-shadow: 2px 2px 2px #202021; }

.button-grid__item {
  padding: 10px; }

.button--1:active, .button--3:active {
  box-shadow: 1px 1px 1px #202021;
  background-color: #024791;
  font-weight: bold; }

.register-form {
  background-color: #777777;
  box-shadow: 2px 2px 2px #202021;
  border-radius: 3px; }
  .register-form form {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
    display: none; }
  .register-form input[type=text] {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
    border: none;
    height: 30px;
    color: #202021;
    font-family: "Open Sans", sans-serif;
    font-size: .75em;
    padding-left: 5px; }
  .register-form input[type=text]:focus {
    outline-color: #777777;
    outline-width: medium; }
  .register-form .submit {
    padding-left: 5px;
    margin: 10px 0;
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: #910202;
    color: #f9f9f9;
    transition: all .3s;
    font-family: "Open Sans", sans-serif; }
  .register-form .submit:hover {
    transform: scale(1.05); }
  .register-form span {
    color: #f9f9f9;
    font-size: .75em; }

.button--2 {
  width: 100%;
  margin: 0 auto;
  box-shadow: none;
  transition: .3s; }

body {
  background-color: #f9f9f9;
  transition: .5s; }

.background-dark {
  background-color: #202021; }

header {
  width: 100%;
  border-bottom: 3px solid #777777;
  position: fixed;
  background-color: #f9f9f9;
  justify-content: space-between;
  transition: all .5s; }

.nav {
  display: flex;
  align-items: center;
  padding-right: 20px; }
  .nav li {
    padding: 10px;
    color: #777777;
    font-family: "Open Sans", sans-serif;
    transition: all .1s; }
  .nav li:hover {
    transform: scale(1.07); }
  .nav a {
    text-decoration: none; }

main {
  width: 80%;
  margin: 0 auto;
  padding: 20px 10px 10px 10px; }

.section {
  padding: 10px 0;
  margin-bottom: 20px; }

.cover {
  padding-top: 75px;
  margin-top: 75px;
  justify-content: center;
  align-items: center; }
  .cover img {
    height: 325px;
    width: auto;
    margin: 0 auto; }

#toph2 {
  text-align: left;
  padding: 5px 5px 5px 0; }

.examples {
  padding-top: 60px; }
  .examples p {
    text-align: center;
    padding: 10px 0; }

.button-grid {
  padding: 20px 0; }

.button-grid {
  justify-content: center; }

.flex-box-demo {
  padding-bottom: 20px; }

.pen {
  padding: 10px 0; }

.resume {
  padding-top: 60px; }
  .resume h3 {
    text-align: center; }

.profile {
  margin-bottom: 10px; }
  .profile ul {
    text-align: center; }

.experience {
  flex-wrap: wrap; }
  .experience h4 {
    transition: all .1s; }
  .experience h4:hover {
    color: #910202;
    transform: scale(1.05); }
  .experience ul {
    display: none;
    transition: all .2s; }
    .experience ul li {
      transition: all .2s; }
    .experience ul li:hover {
      color: #910202;
      transform: scale(1.05); }

.experience-title p {
  font-size: .75em;
  text-align: center;
  color: #777777;
  font-family: "Merriweather", serif;
  padding-left: 10px; }

footer {
  border-top: 3px solid #910202; }
  footer h3 {
    color: #777777;
    text-align: center;
    font-size: 1.5em; }
  footer a, footer a:visited {
    text-decoration: none; }
  footer p {
    color: #910202; }

.footer__links {
  width: 100%;
  justify-content: center;
  padding: 10px; }
  .footer__links img {
    width: 50px;
    height: 50px;
    margin: 0 auto; }

.footer__img-dark {
  background-color: #777777;
  padding: 5px;
  border-radius: 50%; }

@media screen and (max-width: 900px) {
  .cover img {
    height: 250px;
    width: auto; } }
@media screen and (max-width: 775px) {
  h1 {
    font-size: 2em; }

  .nav li {
    font-size: .9em; }

  .button-grid {
    flex-wrap: wrap; }

  .button-grid__item {
    width: 60%; } }
@media screen and (max-width: 700px) {
  .cover {
    flex-direction: column-reverse; }
    .cover .grid__item {
      width: 100%; }
    .cover img {
      width: auto;
      height: 350px;
      padding-top: 20px; }
    .cover h3, .cover p {
      text-align: center; }

  #toph2 {
    text-align: center;
    padding: 5px; }

  main {
    width: 90%; }

  header {
    flex-direction: column;
    align-items: center; }
    header h1 {
      padding-bottom: 0; }

  .nav {
    padding: 0; }

  .experience h4:hover {
    color: #777777;
    transform: scale(1); } }
@media screen and (max-width: 600px) {
  .grid__item--one-half {
    width: 100%; }

  .cover {
    padding-top: 60px; }
    .cover img {
      width: auto;
      height: 250px; }

  .button-grid__item {
    width: 80%; }

  h1 {
    font-size: 1.5em; }

  .nav li {
    font-size: .75em; }

  .experience {
    flex-wrap: wrap; } }

/*# sourceMappingURL=main.css.map */
