/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6, p, ul, li, span, {
  color: $middle-grey;
}
h1, h2, h3, h4, h5 {
  font-family: 'Roboto Mono', monospace;
}
p, ul, li, span {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 2.5em;
  padding: 10px 20px;
}
sup {
  font-size: .7em;
}
h1, h3 {
  color: $dark-red;
}
h2 {
  color: $dark-blue;
  font-size: 2em;
  text-align: center;
  padding: 20px;
}
h3 {
  font-size: 1.75em;
  padding: 10px 0;
}
h4 {
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px 0;
  color: $dark-blue;
}
ul {
  list-style-type: none;
}
li {
  padding: 5px 0;
  transition: color .5s;
}
p {
  line-height: 1.5;
  transition: color .5s;
}
.centered{
  text-align: center;
}
.light-text {
  color: $light-grey;
}
.medium-text {
  color: $middle-grey;
}
