/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6, p, ul, li, span, {
  color: $dark-grey;
}
h1, h2, h3, h4, h5 {
  font-family: $heading-typeface;
  font-weight: 400;
}
p, ul, li, span {
  font-family: $body-typeface;
}
h1 {
  font-size: 2.5em;
  padding: 10px 20px;
}
sup {
  font-size: .7em;
}
h1, h3 {
  color: $dark-red;
}
h2 {
  color: $middle-grey;
  font-size: 2.3em;
  text-align: center;
  padding: 20px;
}
h3 {
  font-size: 1.75em;
  padding: 20px 0 10px 0;
}
h4 {
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px 0;
  color: $middle-grey;
}
ul {
  list-style-type: none;
}
li {
  padding: 10px 0;
  transition: color .5s;
  line-height: 1.5;
}
p {
  line-height: 1.5;
  transition: color .5s;
}
.centered{
  text-align: center;
}
.light-text {
  color: $light-grey;
}
.medium-text {
  color: $middle-grey;
}
